@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #3DADFA;
  --color-primary2: #0079B8;
  --color-primary3: #00659A;
  --color-primary4: #004064;
  --color-primarySoft: #98D2FA;
  --color-lightGray: #EEEEEE;
  --color-lightBlack: #262321;
  --color-border: #90A1AB;
  --background-image-blackGradient: linear-gradient(to bottom, #010101, #47423F);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

.buttonHover:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.buttonHover2:hover {
  background-color: #98D2FA;
  border-color: black;
  color: black;
  cursor: pointer;
}